
.box {
    background-color: #ccc;
    min-height: 50px;
    min-width: 50px;
    width: 20px;
    height:20px;
    margin: 0 auto;
}
thead{
    background-color: coral;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    height:100vh;
}

#sidebar.active {
    margin-left: -250px;
}
 
#sidebar .sidebar-header {
    padding: 20px;
    padding-top: 40px;
    background: #6d7fcc;
    border-bottom: 1px solid #000000;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

.normal-link {
    color: inherit;
    text-decoration: none ;
    cursor: pointer ;
    border-bottom: 1px solid #000000 ;
}

.sidebar-components {
    text-align: center;
    color: #000000;
    font-size: auto;
    font-weight: 500;
}

#c1{
    background-color: aqua;
}

#b1{
    background-color: green;
    padding: 15px;
    height: 100vh;
}

#r1{
    width: 100vw;
}

#r2{
    background-color: aqua;
}

#r3{
    background-color: aliceblue;
}

#r4{
    background-color: whitesmoke;
}

#demo{
  align-items: center;
  justify-content: center;
  float: right;
  background-color: red;
  justify-items: center;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white; 
    border-radius: 5px; 
    border: 0px;
    font-family: "century gothic"; 
    font-weight: bold;
    margin-bottom: 10px;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white; 
    border-radius: 5px; 
    border: 0px; 
    font-family: "century gothic"; 
    font-weight: bold;
    height: 85vh;
}

#ques_card{
    overflow-y: scroll;
    height: 75vh;
}


h3{
    font-family: "century gothic"; 
    font-weight: bold; 
    color: rgb(211, 34, 34);
}

.table-responsive{
    overflow-y: scroll;
    height: 75vh;
}



