{% extends "base.html" %} 
{% load static %} 
<style>
  .question-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  #q_btn {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #q_btn:hover {
    background-color: #0069d9;
  }
  
  #defaultOpen {
    background-color: #0069d9;
  }
  
  #ques_card{
    overflow-y: scroll;
    height: 50vh;
}
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white; 
    border-radius: 5px; 
    border: 0px; 
    font-family: "century gothic"; 
    font-weight: bold;
    height: 55vh;
}

</style>
{% block body %}
{% block content %}
<div class="row" id="r1">
  <div class="col-md-9">
    <div class="container" id="b1">
      <div class="tab">
        {% for key,value in questions.items %}
        <button class="tablinks" onclick="openTab(event, '{{key}}')" {% if forloop.first %}id="defaultOpen"{% endif %}>{{key}}</button>
        {% endfor %}
        <button id="demo"></button>
    </div>
    
    
    {% for key,value in questions.items %}
    <div id="{{key}}" class="tabcontent">
        <h3>{{key}}</h3>
        <div class="card" style="height:400px" id="ques_card">
            {% for i,j in value.items %}
            <div class="card-body" id="card-body-{{ forloop.counter }}">
                <p>{{ forloop.counter }}. {{i}}</p>
                <input type="radio" id="option1" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.0}}" onclick="submitAnswer('{{j.0}}')">
                <label for="option1">{{j.0}}</label><br>
                <input type="radio" id="option2" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.1}}" onclick="submitAnswer('{{j.1}}')">
                <label for="option2">{{j.1}}</label><br>
                <input type="radio" id="option3" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.2}}" onclick="submitAnswer('{{j.2}}')">
                <label for="option3">{{j.2}}</label><br>
                <input type="radio" id="option4" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.3}}" onclick="submitAnswer('{{j.3}}')">
                <label for="option4">{{j.3}}</label>
                <div style="height: 100px;"></div>
                <div class="button-container">
                {% if forloop.first %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:1 }})">Next</button>
                {% elif forloop.last %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:-1 }})">Previous</button>
                {% else %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:-1 }})">Previous</button>
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:1 }})">Next</button>
                {% endif %}
                <button class="btn btn-danger"  onclick="clearSelection('{{j.4}}${{j.5}}${{user_id}}')" style="float:right;">Clear Selection</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="question-buttons" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;">
          <div class="button-container" style="display: flex;justify-content: center;align-items: center;gap: 10px;">
            {% for i in value %}
            <button class="tablinks" style="padding: 10px 15px;font-size: 16px;font-weight: bold;border: none;border-radius: 5px;background-color: #007bff;color: #fff;cursor: pointer;" onclick="openTab(event, '{{key}}', {{forloop.counter}})" {% if forloop.first %}id="defaultOpen"{% endif %}>Q{{forloop.counter}}</button>
            {% endfor %}
          </div>
        </div>
    </div>
    {% endfor %}
    
    
    
      
    </div>
    </div>
  <div class="col-md-3">
    <div class="row" id="r2">
      <img src="{% url 'videostream' stream_path='video' %}" class="center" />
    </div>
    <div class="row" id="r3">
      <h6>Welcome {{ request.session.username }}</h6>
      <h3>Instructions</h3>
      <ul>
        <li>You must use a functioning webcam and microphone</li>
        <li>
          No cell phones or other secondary devices in the room or test area
        </li>
        <li>No one else can be in the room with you</li>
        <li>No talking</li>
        <li>
          The testing room must be well-lit and you must be clearly visible
        </li>
        <li>No dual screens/monitors</li>
        <li>Do not leave the camera</li>
        <li>No use of additional applications or internet</li>
      </ul>
      

    </div>
    <div id="countdown" data-total-duration="{{ total_duration }}"><span id="countdown-timer"></span></div>
    <div class="row" id="r4">
      <a href="#" class="btn btn-primary" id="submit-button">Submit</a>
    </div>
  </div>
</div>
{% endblock %} 
{% block scripts %}
{% comment %} <script type="text/javascript" src="{% static 'js/app.js' %}"></script> {% endcomment %}
<script type="text/javascript">

  function openTab(evt, tabName, questionIndex) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    
    if (questionIndex === undefined) {
      questionIndex = 1;
    }
    
    var questionCards = document.querySelectorAll("#" + tabName + " .card-body");
    for (i = 0; i < questionCards.length; i++) {
      questionCards[i].style.display = "none";
    }
    questionCards[questionIndex - 1].style.display = "block";
    
    var prevBtn = document.getElementById("prevBtn");
    var nextBtn = document.getElementById("nextBtn");
    
    if (questionIndex == 1) {
      prevBtn.style.display = "none";
    } else {
      prevBtn.style.display = "inline";
    }
    
    if (questionIndex == questionCards.length) {
      nextBtn.style.display = "none";
    } else {
      nextBtn.style.display = "inline";
    }
  }
  
  document.getElementById("defaultOpen").click();
  
  var prevBtn = document.getElementById("prevBtn");
  var nextBtn = document.getElementById("nextBtn");
  prevBtn.style.display = "none";
  nextBtn.style.display = "inline";
  
  prevBtn.addEventListener("click", function() {
    var currentTab = document.getElementsByClassName("active")[0];
    var currentQuestionIndex = parseInt(currentTab.getAttribute("data-question-index"));
    var prevQuestionIndex = currentQuestionIndex - 1;
    var tabName = currentTab.getAttribute("data-tab-name");
    openTab(evt, tabName, prevQuestionIndex);
  });
  
  nextBtn.addEventListener("click", function() {
    var currentTab = document.getElementsByClassName("active")[0];
    var currentQuestionIndex = parseInt(currentTab.getAttribute("data-question-index"));
    var nextQuestionIndex = currentQuestionIndex + 1;
    var tabName = currentTab.getAttribute("data-tab-name");
    openTab(evt, tabName, nextQuestionIndex);
  });
</script>
<script>
  //countdown timer
var countdownEl = document.getElementById('countdown');
var totalDuration = countdownEl.dataset.totalDuration;
var countDownDate = new Date().getTime() + (totalDuration *60* 1000);

console.log(countDownDate)

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = hours + ":"
  + minutes + ":" + seconds + "";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
    alert("Your time is up. Please submit your answers.");
    window.location.href = "{% url 'submission' %}?level={{level}}&applied_for={{appliedfor}}&user={{user_id}}";
  }
}, 1000);
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% csrf_token %}
  <script>
    {% comment %} window.onbeforeunload = function () {return false;} {% endcomment %}
    function submitAnswer(answerValue) {
      var formData = {};
      var radios = document.querySelectorAll("input[type=radio]");
      for (var i = 0; i < radios.length; i++) {
        var name = radios[i].name;
        if (radios[i].checked) {
          formData[name] = radios[i].value;
        } 
        else if (!formData.hasOwnProperty(name)) {
          formData[name] = null;
        }
      }
      $.ajax({
        type: "POST",
        url: '{% url "submit_answers" %}',
        data: JSON.stringify(formData),
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
        },
        contentType: "application/json",
        dataType: "json",
        success: function(response) {
          
        },
        error: function(xhr, status, error) {
          
        },
      });
    }
    
  </script>
  
<script>
function clearSelection(name) {
var radios = document.getElementsByName(name);
for (var i = 0; i < radios.length; i++) {
    radios[i].checked = false;
      }
      submitAnswer();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.documentElement.requestFullscreen();
  });
</script>

<script>
  document.getElementById("submit-button").addEventListener("click", function() {
    var confirmed = confirm("Are you sure you want to submit?");
    if (confirmed) {
      window.location.href = "{% url 'submission' %}?level={{level}}&applied_for={{appliedfor}}&user={{user_id}}";
    }
  });
</script>


{% endblock scripts %} 
{% endblock body %}
