{% extends "base.html" %} 
{% load static %} 
<style>
  .question-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  #q_btn {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  #q_btn:hover {
    background-color: #0069d9;
  }
  
  #defaultOpen {
    background-color: #0069d9;
  }
  
  #ques_card{
    overflow-y: scroll;
    height: 50vh;
}
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white; 
    border-radius: 5px; 
    border: 0px; 
    font-family: "century gothic"; 
    font-weight: bold;
    height: 55vh;
}
.tablinks.active {
  background-color: #007bff; /* Change this to the color you want */
  color: #fff; /* Change this to the text color you want */
}

</style>
{% block body %}
{% block content %}
<div class="row" id="r1">
  <div class="col-md-9">
    <div class="container" id="b1">
      <div class="tab">
        {% for key,value in questions.items %}
        <button class="tablinks" onclick="openTab(event, '{{key}}', 1)" {% if forloop.first %}id="defaultOpen"{% endif %}>{{key}}</button>
        {% endfor %}
        <div class="d-flex flex-col justify-content-end ">
          <button id="timer" style="background-color:red; color:white"></button>
        </div>
      </div>
      
    
    {% for key,value in questions.items %}
    <div id="{{key}}" class="tabcontent">
      <h3 id="question-heading-{{key}}">{{key}}</h3>
        <div class="card" style="height:400px" id="ques_card">
            {% for i,j in value.items %}
            <div class="card-body" id="card-body-{{ forloop.counter }}">
                <p>{{ forloop.counter }}. {{i}}</p>
                <input type="radio" id="option1" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.0}}" onclick="submitAnswer('{{j.0}}')">
                <label for="option1">{{j.0}}</label><br>
                <input type="radio" id="option2" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.1}}" onclick="submitAnswer('{{j.1}}')">
                <label for="option2">{{j.1}}</label><br>
                <input type="radio" id="option3" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.2}}" onclick="submitAnswer('{{j.2}}')">
                <label for="option3">{{j.2}}</label><br>
                <input type="radio" id="option4" name="{{j.4}}${{j.5}}${{user_id}}" value="{{j.3}}" onclick="submitAnswer('{{j.3}}')">
                <label for="option4">{{j.3}}</label>
                <div style="height: 100px;"></div>
                <div class="button-container">
                {% if forloop.first %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:1 }})">Next</button>
                {% elif forloop.last %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:-1 }})">Previous</button>
                {% else %}
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:-1 }})">Previous</button>
                <button class="btn btn-primary" onclick="openTab(event, '{{ key }}', {{ forloop.counter|add:1 }})">Next</button>
                {% endif %}
                <button class="btn btn-danger"  onclick="clearSelection('{{j.4}}${{j.5}}${{user_id}}')" style="float:right;">Clear Selection</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="question-buttons" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;">
          <div class="button-container" style="display: flex;justify-content: center;align-items: center;gap: 10px;">
            {% for i in value %}
            <button class="tablinks" style="padding: 10px 15px;font-size: 16px;font-weight: bold;border: none;border-radius: 5px;background-color: #007bff;color: #fff;cursor: pointer;" onclick="openTab(event, '{{key}}', {{forloop.counter}})" {% if forloop.first %}id="defaultOpen"{% endif %}>Q{{forloop.counter}}</button>
            {% endfor %}
          </div>
        </div>
    </div>
    {% endfor %}
    
    
    
      
    </div>
    </div>
  <div class="col-md-3">
    <div class="row" id="r2">
      <video id="video" autoplay></video>
    </div>
    
    <div class="row" id="r3">
      <h6>Welcome {{ request.session.username }}</h6>
      <h3>Instructions</h3>
      <ul>
        <li>You must use a functioning webcam and microphone</li>
        <li>
          No cell phones or other secondary devices in the room or test area
        </li>
        <li>No one else can be in the room with you</li>
        <li>No talking</li>
        {% comment %} <li>
          The testing room must be well-lit and you must be clearly visible
        </li> {% endcomment %}
        {% comment %} <li>No dual screens/monitors</li> {% endcomment %}
        <li>Do not leave the camera</li>
        <li>No use of additional applications or internet</li>
      </ul>
      

    </div>
    <div id="countdown" data-total-duration="{{ total_duration }}"><span id="countdown-timer"></span></div>
    <div class="row" id="r4">
      <a href="#" class="btn btn-primary" id="submit-button">Submit</a>
    </div>
  </div>
</div>
{% endblock %} 
{% block scripts %}
{% comment %} <script type="text/javascript" src="{% static 'js/app.js' %}"></script> {% endcomment %}
<!-- Your HTML code remains the same -->

<script type="text/javascript">
  function preventBack(){window.history.forward()};
  setTimeout("preventBack()",0);
    window.onunload = function(){null;}
</script>

<script>
  function openTab(evt, tabName, questionIndex) {
    var i, tabcontent, tablinks;
    var questionHeading = document.getElementById("question-heading-" + tabName);
    var key = questionHeading.textContent;
  
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      if (tablinks[i].textContent === key) {
        // Add the 'active' class for the matching tablink
        tablinks[i].classList.add("active");
      } else {
        // Remove the 'active' class for other tablinks
        tablinks[i].classList.remove("active");
      }
    }
  
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.classList.add("active");
    
    if (questionIndex === undefined) {
      questionIndex = 1;
    }
    
    var questionCards = document.querySelectorAll("#" + tabName + " .card-body");
    for (i = 0; i < questionCards.length; i++) {
      questionCards[i].style.display = "none";
    }
    questionCards[questionIndex - 1].style.display = "block";
    
    var prevBtn = document.getElementById("prevBtn");
    var nextBtn = document.getElementById("nextBtn");
    
    if (questionIndex == 1) {
      prevBtn.style.display = "none";
    } else {
      prevBtn.style.display = "inline";
    }
    
    if (questionIndex == questionCards.length) {
      nextBtn.style.display = "none";
    } else {
      nextBtn.style.display = "inline";
    }
  }
  
  document.getElementById("defaultOpen").click();
  
  var prevBtn = document.getElementById("prevBtn");
  var nextBtn = document.getElementById("nextBtn");
  prevBtn.style.display = "none";
  nextBtn.style.display = "inline";
  
  prevBtn.addEventListener("click", function() {
    var currentTab = document.getElementsByClassName("active")[0];
    var currentQuestionIndex = parseInt(currentTab.getAttribute("data-question-index"));
    var prevQuestionIndex = currentQuestionIndex - 1;
    var tabName = currentTab.getAttribute("data-tab-name");
    openTab(evt, tabName, prevQuestionIndex);
  });
  
  nextBtn.addEventListener("click", function() {
    var currentTab = document.getElementsByClassName("active")[0];
    var currentQuestionIndex = parseInt(currentTab.getAttribute("data-question-index"));
    var nextQuestionIndex = currentQuestionIndex + 1;
    var tabName = currentTab.getAttribute("data-tab-name");
    openTab(evt, tabName, nextQuestionIndex);
  });
</script>



<!-- <script>
  //countdown timer
var countdownEl = document.getElementById('countdown');
var totalDuration = countdownEl.dataset.totalDuration;
var countDownDate = new Date().getTime() + (totalDuration *60* 1000);

console.log(countDownDate)

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = hours + ":"
  + minutes + ":" + seconds + "";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
    alert("Your time is up. Please submit your answers.");
    window.location.href = "{% url 'submission' %}?level={{level}}&applied_for={{appliedfor}}&user={{user_id}}";
  }
}, 1000);
</script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% csrf_token %}
  <script>

    function submitAnswer(answerValue) {
      var formData = {};
      var radios = document.querySelectorAll("input[type=radio]");
      for (var i = 0; i < radios.length; i++) {
        var name = radios[i].name;
        if (radios[i].checked) {
          formData[name] = radios[i].value;
        } 
        else if (!formData.hasOwnProperty(name)) {
          formData[name] = null;
        }
      }
      $.ajax({
        type: "POST",
        url: '{% url "submit_answers" %}',
        data: JSON.stringify(formData),
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
        },
        contentType: "application/json",
        dataType: "json",
        success: function(response) {
          
        },
        error: function(xhr, status, error) {
          
        },
      });
    }
    
  </script>
  
<script>
function clearSelection(name) {
var radios = document.getElementsByName(name);
for (var i = 0; i < radios.length; i++) {
    radios[i].checked = false;
      }
      submitAnswer();
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.documentElement.requestFullscreen();
  });
</script>

<script>
  document.getElementById("submit-button").addEventListener("click", function() {
    var confirmed = confirm("Are you sure you want to submit?");
    if (confirmed) {
      window.location.href = "{% url 'submission' %}?level={{level}}&applied_for={{appliedfor}}&user={{user_id}}";
    }
  });
</script>

{% comment %} <script>
  // Get the video element
  const video = document.getElementById('video');

  // Check if the browser supports the getUserMedia API
  if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      // Get the user's webcam stream
      navigator.mediaDevices.getUserMedia({ video: true })
          .then(function(stream) {
              // Set the video source to the user's webcam stream
              video.srcObject = stream;

              // Perform face detection on each video frame
              video.addEventListener('play', function() {
                  const canvas = document.createElement('canvas');
                  const context = canvas.getContext('2d');
                  setInterval(function() {
                      context.drawImage(video, 0, 0, 640, 480);

                      // Get the image data from the canvas
                      const imageData = context.getImageData(0, 0, 640, 480);
                      // Perform face detection on the image data
                      // Add your face detection code here using JavaScript libraries like face-api.js or TensorFlow.js

                      // Display the detected faces or take further actions
                      // You can update the canvas or show notifications, etc.
                  }, 1000 / 30);  // Adjust the interval based on your requirements
              });
          })
          .catch(function(error) {
              console.error('Error accessing the webcam:', error);
          });
  } else {
      console.error('getUserMedia is not supported by this browser.');
  }
</script> {% endcomment %}

<script>
  // Get the CSRF token from the cookie
function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie !== '') {
var cookies = document.cookie.split(';');
for (var i = 0; i < cookies.length; i++) {
  var cookie = cookies[i].trim();
  // Does this cookie string begin with the name we want?
  if (cookie.substring(0, name.length + 1) === (name + '=')) {
    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    break;
  }
}
}
return cookieValue;
}

// Get video and canvas elements
const video = document.getElementById('video');
var canvas = document.createElement('canvas');
const context = canvas.getContext('2d');

// Get user media stream
navigator.mediaDevices.getUserMedia({ video: true })
.then((stream) => {
video.srcObject = stream;
})
.catch((error) => {
console.error('Error accessing camera:', error);
});

// Continuously capture frames and send them to the server
setInterval(() => {
context.drawImage(video, 0, 0, canvas.width, canvas.height);
const imageData = canvas.toDataURL('image/png');
sendData(imageData);
}, 1000);  // Adjust the interval as per your requirements

// Send image data to the server
function sendData(imageData) {
var dataURL = imageData;
$.ajax({
url: '{% url "detect_face" %}',
type: 'POST',
data: {
    user:"{{user_id}}",
    image: dataURL,
    csrfmiddlewaretoken: getCookie('csrftoken')
},
success: function(response) {
    console.log('Image sent successfully.');
    
},
error: function(xhr, status, error) {
    console.error('Error saving image: ' + error);
}
});
}

</script>

<script>
  let intervalId; // Declare intervalId outside the countdown function
  // Function to start or resume the countdown timer
  function startTimer() {
    let endTime = sessionStorage.getItem('countdownEndTime');
    if (endTime) {
      // If an endTime value exists in session storage, resume the countdown from that value
      const remainingTime = endTime// Ensure countdown doesn't go below zero
      countdown(remainingTime);
    } else {
      var countdownEl =document.getElementById('countdown');
      var totalDurationInMinutes = countdownEl.dataset.totalDuration;
      
      var countDownDate = (totalDurationInMinutes *60*1000);
      console.log(countDownDate)
      // If no endTime value exists, start a new countdown from the calculated countDownDate
      countdown(countDownDate);
    }
  }

  // Function to stop the countdown timer
  function stopTimer() {
    clearInterval(intervalId); // Stop the interval to pause the countdown
  }

  // Function to reset the countdown timer
  function resetTimer() {
    stopTimer(); // Stop the interval
    sessionStorage.removeItem('countdownEndTime'); // Clear the endTime value from session storage
    document.getElementById('timer').textContent = '00:00:00'; // Reset the displayed time to 00:00:00
  }

  // Function to handle the countdown
  function countdown(remainingTime) {
    const timerDisplay = document.getElementById('timer');

    function formatTime(hours, minutes, seconds) {
      if (hours > 0) {
        return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
      } else {
        return `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
      }
    }

    function tick() {
      if (remainingTime <= 0) {
        // If the countdown is completed, stop the interval and display 00:00:00
        stopTimer();
        timerDisplay.textContent = formatTime(0, 0, 0);
        sessionStorage.removeItem('countdownEndTime'); // Clear the endTime value from session storage
        alert("Your time is up. Please submit your answers.");
        window.location.href = "{% url 'submission' %}?level={{level}}&applied_for={{appliedfor}}&user={{user_id}}";
      } else {
          console.log("remainingTime",remainingTime)
          // Calculate hours, minutes, and seconds from the remaining time
          const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
          const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

          // Display the time in the appropriate format based on the duration
          timerDisplay.textContent = formatTime(hours, minutes, seconds);

          // Store the remaining time in session storage just before the page is unloaded
          window.addEventListener('beforeunload', () => {
            sessionStorage.setItem('countdownEndTime', remainingTime);
        });
      }
      remainingTime -= 1000;
    }

    // Call the tick function immediately
    tick();
    intervalId = setInterval(tick, 1000); // Assign intervalId to the setInterval instance
  }

  // Automatically start the timer when the page loads
  startTimer();
</script>

{% endblock scripts %} 
{% endblock body %}