{% load static %}

<!DOCTYPE html>
<html>
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <style>
      * {
        box-sizing: border-box;
      }
      body{
        font-family: Calibri, Helvetica, sans-serif;
        background-color: white;
      }
      .container {
        padding: 50px;
        background-color: white;
      }
      input[type=text], input[type=password], textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        
      }
      input[type=text]:focus, input[type=password]:focus {
        outline: none;
      }
      div {
        padding: 5px 0;
      }
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }
      .registerbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
      }
      .registerbtn:hover {
        opacity: 1;
      }
      .head{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .head2{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
      }
      .heading{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
      }

      .button {
        display: inline-block;
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }
      
      .button:hover {
        background-color: #3e8e41;
      }
      
    </style>  
  </head>  
  <body> 
    <form method="POST" action="" onsubmit="return validatePhoneNumber()">  
      {% csrf_token %}
      <div class="container">  
        <div class="head">
          <div class="padding-left:20px">
            <img src="{% static 'images/systech-logo.png' %}" alt="Systech" width="100" height="100">
        </div>
        <div>
          <center>  
            <h1> Register</h1> 
            <h2> Here</h2> 
          </center>  
      </div>
      </div>
        <hr style="width:100% ">
        <div>Job Details:</div>
        
        <div  style="height:300px;background:LightGray;padding-left:15px; border-radius: 5px;border-top-style: solid;border-top-color:DodgerBlue;margin-bottom:5px ;margin-top:5px"  >  
          <div class="head">
          <label style="margin-right: 15px; align:center;" for="Applyingfor">   
            Applying for
          </label>  
          <select style="width: 200px; height: 40px;" id="Applyingfor" name="Applyingfor" >  
            <option value="" disabled selected hidden>Select option</option>
            <option value="Data analyst" >Data analyst
            </option>  
            <option value="Dot net developer" >Dot net developer
            </option>  
            <option value="Python developer" >Python developer
            </option>  
            <option value="Informatica" >Informatica
            </option>  
            <option value="SSIS" >SSIS
            </option>  
            <option value="Tableau" >Tableau
            </option>  
            <option value="React js developer" >React js developer
            </option>  
          </select> 
          {% comment %} <a href="{% url 'capture' %}" class="button">face</a> {% endcomment %}

          {% comment %} <a href="{% url 'capture_card' %}" class="button">id proof</a>
          <img id="myImage" src="#" alt="Preview Image" style="width:100px; height:100px; margin-top:15px;"> {% endcomment %}
        </div>
        <div class='heading'>
          <a href="{% url 'capture_card' %}" class="button">id proof</a>
          <img id="cardImage" src="#" alt="Preview Image" style="width:100px; height:100px; margin-top:15px;">
        </div>  
        <div class='heading'>
          <a href="{% url 'capture' %}" class="button">face</a>
          <img id="faceImage" src="#" alt="Preview Image" style="width:100px; height:100px; margin-top:15px;">
        </div>
        <div>Personal Details:</div>
        <div style="height:350px;background:LightGray;padding-left:15px; border-radius: 5px;border-top-style: solid;border-top-color:DodgerBlue; margin-bottom:5px ;margin-top:5px">
          <div class="head flex-direction:column">
            <div style="width: 30%;margin-right:16px; ">
              <label for="firstname"> First Name 
              </label>   
              <input type="text" name="firstname"  id="firstname" placeholder="Firstname" size="15" >
            </div> 
            <div style="width: 30%;;margin-left:16px"> 
              <label for="lastname"> Last Name: 
              </label>    
              <input type="text" name="lastname" id="lastname" placeholder="Lastname" size="15"  >
            </div>   
            <div class="heading" style="width: 30%;;margin-right:16px;">
              <label for="email" > Email: 
              </label>      
              <input type="email" id="email" name="email" placeholder="Enter email" size="15" style="height:50px;width:350px; padding:15px;margin:5px 0px 22px" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  >
            </div> 
          </div> 
          <div class="head">
            <div class="heading" style="width:30%;margin-right:40px;">
              <label style="margin-right: 15px;" for="gender" >   
                Gender :  
              </label>
              <select style="width:350px; height:50px;margin-bottom: 10px;" name="gender"  id="gender"  >  
                <option value="" disabled selected hidden>Select option</option>
                <option alue="Male" >Male
                </option>  
                <option value="Female"  >Female
                </option>   
                <option value="Transgender"  >Transgender
                </option>  
              </select>  
            </div>
            <div style="width: 30%;margin-left:14px;margin-right:12px;">
            
                <label for="dob">Date Of Birth:
                </label>
              
                <input type="Date" id="dob" name="dob"  size="15" style="height:50px;width:350px; padding:15px;margin:5px 0px 22px">
              
            </div> 
            <div class="heading" style="width: 30%; margin-left:12px; margin-right:12px; ">
              <label for="MaritalStatus">   
                Marital Status:
              </label>
                <select style="width:350px; height:50px;margin-bottom: 10px;" name="MaritalStatus" id="MaritalStatus"  >  
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="Yes" >Married
                  </option>  
                  <option value="No" >Single
                  </option>   
                </select> 
              
            </div>       
          </div> 
          <div class="head" >
            <div class="head2"  style="width: 30%; margin-bottom: 15px;" >
              <div class="heading">
              <label for="country_code">Country code:</label>
              <select name="country_code" id="country_code" style="height:50px;width:100px">
                <option value="" disabled selected hidden>Select option</option>
                  {% for code, name,lable,phone_code in countries %}
                      <option value="+{{phone_code }}">{{name}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="heading">
              <label for="phone">Phone number:</label>
              <input type="tel" id="phone" name="phone" placeholder="Enter phone number" pattern = "[0-9]{10}" required title="Please enter a valid phone number with country code" style="height:50px;width:240px">
            </div>
            </div>  
            <div style="width: 30%;margin-right:16px; margin-left: 60px;">
              <label for="CAddress"> Current Address 
              </label>   
              <input type="text" name="CAddress" id="CAddress" placeholder="Address" size="15"  >
            </div>
            <div style="width: 30%;margin-left:16px;margin-right:16px;">
              <label for="PAddress"> Permanent Address 
              </label>   
              <input type="text" name="PAddress" id="PAddress" placeholder="Address" size="15"  > 
            </div>       
          </div> 
      </div>
        <div>Education Details :</div>
      <div style="height:750px;background:LightGray;padding-left:10px; padding-right:15px; border-radius: 5px;border-top-style: solid;border-top-color:DodgerBlue;" >  
            <h1 style="font-size:22px; font-weight: 200;">*10th
            </h1> 
            <div class="head">
              <div style="width: 30%;margin-right:16px;">
                <label for="Institution10"> Institution 
                </label>   
                <input type="text" name="Institution10" id="Institution10" placeholder="Institution" size="15"  >
              </div>
              <div style="width: 30%;margin-left:16px;margin-right:16px;">
                <label for="CGPA10"> % (or) CGPA
                </label>   
                <input type="text" name="CGPA10" id="CGPA10" placeholder="Enter CGPA" size="15"  > 
              </div>  
              <div style="width: 30%;;margin-left:16px"> 
                <label for="YOP10"> Year of passing 
                </label>    
                <input type="text" name="YOP10"  id="YOP10" placeholder="Enter YOP" size="15"  >
              </div>   
            </div>   
            <h1 style="font-size:22px; font-weight: 200;">*12th or Diploma
            </h1>
            <div class="head">
              <div style="width: 30%;margin-right:16px;">
                <label for="Institution12"> Institution 
                </label>   
                <input type="text" name="Institution12" id="Institution12" placeholder="Institution" size="15"  >
              </div>
              <div style="width: 30%;margin-left:16px;margin-right:16px;">
                <label for="CGPA12"> % (or) CGPA
                </label>   
                <input type="text" name="CGPA12" id="CGPA12" placeholder="Enter CGPA" size="15"  > 
              </div>  
              <div style="width: 30%;;margin-left:16px"> 
                <label for="YOP12"> Year of passing 
                </label>    
                <input type="text" name="YOP12" id="YOP12" placeholder="Enter YOD" size="15"  >
              </div>
              <div style="width: 30%;;margin-left:16px"> 
                <label for="Branch12"> Branch
                </label>    
                <input type="text" name="Branch12" id="Branch12" placeholder="Enter Branch" size="15"  >
              </div>   
            </div> 
            <h1 style="font-size:22px; font-weight: 200;"> Under Graduation
            </h1> 
            <div class="head">
              <div style="width: 30%;margin-right:16px;">
                <label for="Graduation"> UG Graduation
                </label>   
                <select style="width: 220px; height: 50px; size:15px" name="Graduation" id="Graduation" >  
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="B.Tech" >B.Tech
                  </option>  
                  <option value="Degree" >Degree
                  </option>    
                </select>  
                
              </div>
              <div style="width: 30%;margin-right:16px;">
                <label for="UGDiscipline"> UG Discipline
                </label>   
                <select style="width: 220px; height: 50px; size:15px" name="UGDiscipline" id="UGDiscipline" >  
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="ECE" >ECE
                  </option>  
                  <option value="CSE" >CSE
                  </option>  
                  <option value="Mech" >Mech
                  </option>  
                  <option value="IT" >IT
                  </option>  
                  <option value="EEE" >EEE
                  </option>   
                </select>  
                
              </div> 
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="UGCollege"> College
                </label>    
                <input type="text" name="UGCollege" id="UGCollege" placeholder="Enter College" size="15"  >
              </div>
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="CGPAUG"> % (or) CGPA
                </label>    
                <input type="text" name="CGPAUG" id="CGPAUG" placeholder="Enter % (or) CGPA" size="15"  >
              </div> 
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="YOPUG"> Year of passing 
                </label>    
                <input type="text" name="YOPUG" id="YOPUG" placeholder="Enter YOD" size="15" >
              </div> 
              
            </div> 
            <h1 style="font-size:22px; font-weight: 200;">Post Graduation
            </h1>
            <div class="head">
              <div style="width: 30%;margin-right:16px;">
                <label for="PGraduation"> PG Graduation
                </label>   
                <select style="width: 220px; height: 50px; size:15px" name="PGraduation" id="PGraduation" >  
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="M.TECH" >M.TECH
                  </option>  
                  <option value="MCA">MCA
                  </option>   
                </select>  
                
              </div>
              <div style="width: 30%;margin-right:16px;">
                <label for="PGDiscipline"> PG Discipline
                </label>   
                <select style="width: 220px; height: 50px; size:15px" name="PGDiscipline" id="PGDiscipline">  
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="ECE">ECE
                  </option>  
                  <option value="CSE" >CSE
                  </option>  
                </select>  
                
              </div> 
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="PGCollege"> College
                </label>    
                <input type="text" name="PGCollege" id="PGCollege" placeholder="Enter College" size="15">
              </div>
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="CGPAPG"> % (or) CGPA
                </label>    
                <input type="text" name="CGPAPG" id="CGPAPG" placeholder="Enter % (or) CGPA" size="15" >
              </div> 
              <div style="width: 30%;margin-top: 15px;margin-left:16px"> 
                <label for="YOPPG"> Year of passing 
                </label>    
                <input type="text" name="YOPPG" id="YOPPG" placeholder="Enter YOD" size="15" >
              </div> 
              
            </div> 
      </div> 
        <div>Other Details:</div>
        <div style="height:150px;background:LightGray;padding-left:15px; border-radius: 5px;border-top-style: solid;border-top-color:DodgerBlue;margin-bottom:5px ;margin-top:5px;padding-bottom: 50px;" >  
          <div class="head">
            <div style="width: 30%;height: 110px; margin-left:16px; padding-top: 15px; ">
              <label name='Source' style="margin-right: 15px;">   
                Source
              </label>
              <div>  
                <select style="width: 220px; height: 50px; size:15px" name="Source" id="Source" > 
                  <option value="" disabled selected hidden>Select option</option>
                  <option value="Media Platforms">Media Platforms
                  </option>  
                  <option value="Reference">Reference
                  </option>   
                </select> 
              </div>    
            </div>     
            <div style="width: 30%;margin-left:16px;margin-right:16px;margin-top: 16px;">
              <label name="Referredthrough"> Referred through
              </label>   
              <input type="text" name="Referredthrough" id="Referredthrough" placeholder=" " size="15"  style="width: 220px; height: 50px; size:15px"> 
            </div>  
            <div style="width: 30%;margin-top: 0px;margin-left:15px"> 
              <label name="Applied"> Applied for systech earlier? 
              </label>    
              <div>  
                <select style="width: 220px; height: 50px; size:15px" name="Applied" id="Applied"> 
                  <option value="" disabled selected hidden>Select option</option> 
                  <option value="1">Yes
                  </option>  
                  <option value="0">No
                  </option>   
                </select> 
              </div>
            </div>   
            <div style="width: 30%;margin-left:16px;margin-right:16px;">
            
                <label for="Adate">if yes, please mention the date:
                </label>
              
                <input  style="width: 220px; height: 50px; size:15px"type="Date" id="Adate" name="Adate">
              
            </div>  
        </div>
        
        </div>

        <a href="registration/face.html">face</a>
        <a>id proof</a>

          <div class="row" style="text-align: center;">
            <button type="submit" style="background-color: #4CAF50; width:100px; height:40px; border-radius: 10px;">Submit
            </button>
          </div>   
        </div>

       
        
        
      

</form></body>
<script>
  // Get the data from sessionStorage
var CardimageData = sessionStorage.getItem('CardimageData');

// Set the image source to the retrieved data
document.getElementById('cardImage').src = CardimageData;

// Get the data from sessionStorage
var FaceimageData = sessionStorage.getItem('FaceimageData');

// Set the image source to the retrieved data
document.getElementById('faceImage').src = FaceimageData;

</script>


</html>


  