<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Get the CSRF token from the cookie
            var csrftoken = getCookie('csrftoken');

            // Send the AJAX request with the CSRF token header and image data when the button is clicked
            $('button').click(function() {
                // Get the image data from the <img> element
                var canvas = document.createElement('canvas');
                canvas.width = $('img').width();
                canvas.height = $('img').height();
                var context = canvas.getContext('2d');
                context.drawImage($('img')[0], 0, 0, canvas.width, canvas.height);
                var imageData = canvas.toDataURL();

                // Create a new FormData object and add the image data to it
                var formData = new FormData();
                formData.append('image', imageData);

                // Send the AJAX request with the FormData object and CSRF token header
                $.ajax({
                    url: '/save_image/',
                    type: 'POST',
                    headers: { 'X-CSRFToken': csrftoken },
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Handle the server response here
                    }
                });
            });

            // Helper function to retrieve the CSRF token from the cookie
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        </script>
    </head>
    <body>
        <p>Hi</p>
        <img src="{% url 'video' %}"></img>
        <button>Click</button>
    </body>
</html>
